/* kinetika start */

@font-face {
    font-family: 'Kinetika';
    src: url('../fonts/Kinetika-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Kinetika';
    src: url('../fonts/Kinetika-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Kinetika';
    src: url('../fonts/Kinetika-Bold.ttf');
    font-weight: 700;
}

/* kinetika end */